body {
    background-image: url('assets/images/Geo_wallpaper.jpg')
}
/* Desktop Screen Size Begin */


@media only screen and (min-width: 992px){

  /* Home Page Begin */

  .card {
    width: 770px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    display: block;
    height: 50%;
  }
  /* Home Page End */
}
.card img {
  width:350px;
  height:350px;
  margin: 5px;
}
/* Desktop Screen Size Ends */

/* Mobile Screen Size Begin */

@media handheld, screen and (max-width: 599px) {

  /* Home Page Begin */

  .card {
    width: 390px;
    position: relative;
    display: block;
    height: 50%;
    margin:5px;
  }
  .card img {
    width:350px;
    height:350px;
    margin-left: -2px;
    margin-bottom:10px;
  }

 
  /* Home Page End */
}

/* Tablet Screen Size Begin */

@media only screen and (min-width: 600px) and (max-width: 991px) {
  
  .card {
    width: 450px;
    position: relative;
    display: block;
    height: 50%;
    margin-left: 20px;
  }
  .card img {
    width:350px;
    height:350px;
    align-items: center;
    margin: 10px;
  }

/* Tablet Screen Size End */
