body {
    background-image: url('../images/Geo_wallpaper.jpg')
}

.navlogo {
  font-family: 'Rock Salt', cursive;
  color:white;
  font-size: 20px;  
}

body div h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #17a2b8;
}

/* Mobile Screen Size Begin */

@media handheld, screen and (max-width: 599px) {

  /* Home Page Begin */
  .container {
    margin-top: 40px;
    width: 380px;
    padding: 5px;
    background-color: white;
    position: relative;
    
  }
  .card {
    width: 380px;
    margin-top: 40px;
    padding: 5px;
    display: inline-block;
    height: 50%;
  }
  .container img {
    width:350px;
    height:350px;
    margin: auto;
    margin-bottom:20px;
  }
   
} 
   /* Home Page End */


/* Tablet Screen Size Begin */

@media only screen and (min-width: 600px) and (max-width: 991px) {
  
  .container {
    margin-top: 40px;
    width: 800px;
    min-width: 500px;
    padding: 10px;
    background-color: white;
    position: relative;
  }

  .card {
    width: 70%;
    min-width:500px;
    padding: 10px;
    margin-left: 20px;
    margin-top: 40px;
    position: relative;
    display: block;
    height: 50%;
    
  }
  .container img {
    width:350px;
    height:350px;
    margin: 20px ;
    margin-bottom:20px;
  } 
 
}
/* Tablet Screen Size End */

/* Desktop Screen Size Begin */

@media only screen and (min-width: 992px) {

  /* Home Page Begin */
 
  .container {
    margin-top: 40px;
    width: 1000px;
    padding: 10px;
    background-color: white;
    position: relative;
  }
  .card {
    width: 70%;
    margin-top: 40px;
    margin-left: 20px;
    padding: 20px;
    position: relative;
    display: block;
    height: 50%
  }

  .container img {
    width:350px;
    height:350px;
    margin: 20px;
    margin-bottom:20px;
    float: left;
  } 
}
  /* Home Page End */

/* Desktop Screen Size Ends */
