body {
    background-image: url('../images/Geo_wallpaper.jpg')
}

.navlogo {
  font-family: 'Rock Salt', cursive;
  color:white;
  font-size: 20px;  
}

body div h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #17a2b8;
}

/* Mobile Screen Size Begin */

@media handheld, screen and (max-width: 599px) {

  /* Home Page Begin */
  .column {
    margin: 20px 0 0 20px;
    width: 90%;
    height:100%;
    min-width: 360px;
    align-items: middle;
    position: relative;
   
  }

  .column img {
    width:350px;
    height:350px;
    margin:10px;
    position: relative;
  } 
   
} 
   /* Home Page End */


/* Tablet Screen Size Begin */

@media only screen and (min-width: 600px) and (max-width: 991px) {
  
  .column {
    margin: 20px;
    width: 60%;
    min-width: 500px;
    padding: 10px;
    position: relative;
  }

  .column img {
    width:350px;
    height:350px;
    margin: 20px ;
    margin-bottom:20px;
  } 
 
}
/* Tablet Screen Size End */

/* Desktop Screen Size Begin */

@media only screen and (min-width: 992px) {

  /* Home Page Begin */
 
  .column {
    width: 80%;
    max-width:900px;
    margin: 20px;
    padding: 10px;
    position: relative;
  }

  .column img {
    width:350px;
    height:350px;
    margin: 20px;
    margin-bottom:20px;
  } 
}
  /* Home Page End */

/* Desktop Screen Size Ends */
