body {
    background-image: url('../images/Geo_wallpaper.jpg')
}

.navlogo {
  font-family: 'Rock Salt', cursive;
  color:white;
  font-size: 20px;  
}

body div h1 {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: #17a2b8;
}
/* Desktop Screen Size Begin */

@media only screen and (min-width: 992px){

  /* Home Page Begin */

  .card {
    width: 800px;
    margin-right: 20px;
    margin-left: 20px;
    position: relative;
    display: block;
    height: 50%;
  }
  /* Home Page End */
}
.card img {
  width:350px;
  height:350px;
  margin: 5px;
}
/* Desktop Screen Size Ends */

/* Mobile Screen Size Begin */

@media handheld, screen and (max-width: 599px) {

  /* Home Page Begin */

  .card {
    width: 92%;
    position: relative;
    display: block;
    height: 50%;
    margin:5px;
  }
  .card img {
    width:350px;
    height:350px;
    margin-left: -2px;
    margin-bottom:10px;
  }

 
  /* Home Page End */
}

/* Tablet Screen Size Begin */

@media only screen and (min-width: 600px) and (max-width: 991px) {
  
  .card {
    width: 70%;
    position: relative;
    display: block;
    height: 50%;
    margin-left: 20px;
  }
  .card img {
    width:350px;
    height:350px;
    align-items: center;
    margin: 10px;
  }

/* Tablet Screen Size End */
